.App {
  text-align: center;
}

#accordionSection {
  padding: 2%;
  margin: 0% 10%;
  display: block;
}

.accordion {
  cursor: pointer;
  transition: 0.4s;
}

.accordion-header-wrapper {
  display: flex;
}

.active-indicator {
  background-color: #18758f;
  width: 15px;
  flex: 0.2;
}

.accordion-header {
  background-color:#61dafb;
  margin:0;
  border-bottom: 1px solid #9a9898;
  width: 100%;
  flex: 20;
}

.accordion-header>h3 {
  padding: 10px 0;
  float: left;
  margin: 0 0 0 2%;
}

.accordion-arrow {
  padding: 10px 0;
  float: right;
  text-align: center;
  background-color: #588794;
  flex: 1;
  border-bottom: 1px solid #176175;
}

.accordion:last-of-type p {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}

.accordion-panel {
  margin: 0;
  box-shadow: 1px 2px 4px inset;
  padding: 30px 15px;
}

#product-store {
  width: 100%;
  padding: 20px 0;
  display:flex;
}

#product-store>aside {
  float:left;
  min-width: 10%;
  text-align: left;
  padding: 0 15px 10px;
  background-color: #61dafb;
  flex: inherit;
}

#product-gallery {
  display: flex;
  padding: 0 20px 10px;
  background-color: #588794;
  flex: auto;
}

#product-gallery>a {
  flex:1;
  color: inherit;
  text-decoration: none;
}

#product-gallery>a:hover {
  color: inherit;
  background-color: #457987;
}

#product-gallery>a:visited {
  color: inherit;
}

.product-tab>h3 {
  margin-bottom: 5px;
}

.product-tab>h4 {
  margin: 5px 0;
}

.product-tab>img {
  max-width: 150px;
  width:auto;
  padding: 5px 15px;
}

#form-fill {
  padding: 25px 0;
}

footer {
  text-align: center;
  background-color: #588794;
  padding: 10px 0 15px;
}

footer>h2 {
 margin: 6px 0;
}

ul.product-tags {
  margin: 2px 0;
  padding: 12px 0 12px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  background-color:#61dafb;
  box-shadow: 1px 1px 1px 0px #000000;
}
ul.product-tags li {
  display:inline-block;
  padding: 3px 8px;
  margin: 0 10px;
  color:#fff;
  background-color:#0387ab;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0px #000000;
}

#products {
  display: flex;
  flex-direction: row;
  background-color: #0387ab;
}

.image-section {
  flex: 2;
  margin: 15px;
}

.image-section > img {
 max-width: 100%;

}

.product-info {
  flex: 3;
  padding: 10px;
}

.italic-text {
  font-style: italic;
}

.regular-price {
  display: inline-block;
  text-decoration:line-through;
  margin-right: 15px;
}

.sale-price {
  color: #fff;
  text-shadow: 1px 1px #000000;
  display: inline-block;
}

.centered-text {
  text-align: center;
}

#error-page {
  text-align: center;
  padding: 20vh 5vw;
}

#error-page>p>i {
  color: red;
}